<launch>
    <group ns = "cam_1">
        <node name="avt_camera" pkg="avt_camera" type="avt_camera_node">
            <param name="~cam_IP" type="str" value="169.254.49.41" />
            <param name="~image_height" type="int" value="1200"/>
            <param name="~image_width" type="int" value="1600"/>
            <param name="~exposure_in_us" type="int" value="7000"/>
        </node>
        <node name="image_viewer" pkg="image_view" type="image_view">
            <remap from="image" to="avt_camera_img"/>
        </node>
    </group>
    <group ns = "cam_2">
        <node name="avt_camera" pkg="avt_camera" type="avt_camera_node">
            <param name="~cam_IP" type="str" value="169.254.75.133" />
            <param name="~image_height" type="int" value="1200"/>
            <param name="~image_width" type="int" value="1600"/>
            <param name="~exposure_in_us" type="int" value="7000"/>
        </node>
        <node name="image_viewer" pkg="image_view" type="image_view">
            <remap from="image" to="avt_camera_img"/>
        </node>
    </group>
</launch>